header {
    font-weight: 700;
    height: 108px;
    .up {
        border-bottom: 5px solid #ce1717;
        background-color: #fff;
        padding: 20px 0;
        img {
            width: 70%;
        }
    }
}
