main {
  //  height: calc(100vh - 120px);
  margin-top: 12vh;
    #scelta {
        // background-color: blue;

        width: 100%;
        height: 88vh;
       // height: calc(100vh - 108px);
        .attivita {
            height: 50vh;
            border: 5px solid $primary-color;
            border-radius: 10px;
            cursor: pointer;
            background-size: 160%;
            background-repeat: no-repeat;
            background-position: center;
            transition: all 2s linear;
            &:hover {
                background-size: 200%;
            }
            h1 {
                color: $primary-color;
            }
        }
    }

    .blur {
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 87vh;
      //  background-color: rgba(255, 255, 255, 0.7);
        background-color:#fff;

        z-index: 2;
      //  backdrop-filter: blur(5px);

        #calcolo {
            //  background-color: #fff;
           
            .categorie {
                // position: fixed;
                // top: 12vh;
                // width: 100vw;
                .col-cat {
                    width: calc(20% - 4px);
                    margin: 2px;
                    font-size: 10px;
                }
            }
            .prodotti {
                overflow-y: auto;
                height: 70vh;



                .flip-card {
                    font-size: 12px;
                    background-color: transparent;
                    width: 100%;
                    height: 300px;
                    perspective: 1000px;
                    border-radius: 10px;
                    cursor: pointer;
                }

                .flip-card-inner {
                    border-radius: 10px;

                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: transform 0.6s;
                    transform-style: preserve-3d;
                    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                }

                .flip-card:hover .flip-card-inner {
                    transform: rotateY(180deg);
                }

                .flip-card-front,
                .flip-card-back {
                    border-radius: 10px;

                    position: absolute;
                    width: 100%;
                    height: 100%;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                }

                .flip-card-front {
                    background-color: #fff;
                    color: black;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .flip-card-back {
                    background-color: $primary-color;
                    color: white;
                    transform: rotateY(180deg);
                }
            }
        }
    }
}
