body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}
a:hover {
  color: inherit;
}

.pointer {
  cursor: pointer;
}

.my-btn,
a.my-btn {
  color: inherit;
  transition: all 0.1s linear;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
}
.my-btn:hover,
a.my-btn:hover {
  color: inherit;
  text-decoration: none;
}
.my-btn.primary-color,
a.my-btn.primary-color {
  background-color: #000;
  color: #fff;
}
.my-btn.primary-color:hover, .my-btn.primary-color.active,
a.my-btn.primary-color:hover,
a.my-btn.primary-color.active {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}

.modal-blur {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.53);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  z-index: 10;
}
.modal-blur .my-modal {
  background-color: #fff;
  width: 60%;
  padding: 20px 30px;
  border-radius: 10px;
  border: 1px solid #000;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-animation: fadein 1s;
          animation: fadein 1s;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 992px) {
  .my-modal {
    width: 30%;
  }
}
header {
  font-weight: 700;
  height: 12vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: fixed;
  top: 0;
  width: 100vw;
}
header img {
  width: 60%;
}

main {
  margin-top: 12vh;
}
main #scelta {
  width: 100%;
  height: 88vh;
}
main #scelta .attivita {
  height: 30vh;
  border: 5px solid #000;
  border-radius: 10px;
  cursor: pointer;
  background-size: 160%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 2s linear;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
main #scelta .attivita:hover {
  background-size: 200%;
}
main #scelta .attivita h1 {
  color: #000;
}
main .blur {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: 87vh;
  background-color: #fff;
  z-index: 2;
}
main .blur #calcolo .categorie .col-cat {
  width: calc(50% - 4px);
  margin: 2px;
  font-size: 10px;
}
main .blur #calcolo .prodotti {
  overflow-y: auto;
  height: 70vh;
}
main .blur #calcolo .prodotti .flip-card {
  font-size: 12px;
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px;
  border-radius: 10px;
  cursor: pointer;
}
main .blur #calcolo .prodotti .flip-card-inner {
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
main .blur #calcolo .prodotti .flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
main .blur #calcolo .prodotti .flip-card-front,
main .blur #calcolo .prodotti .flip-card-back {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
main .blur #calcolo .prodotti .flip-card-front {
  background-color: #fff;
  color: black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
main .blur #calcolo .prodotti .flip-card-back {
  background-color: #000;
  color: white;
  transform: rotateY(180deg);
}
main .blur #form {
  height: 88vh;
  overflow-y: auto;
}

@media (min-width: 576px) {
  main .blur #calcolo .categorie .col-cat {
    width: calc(25% - 4px);
  }
}
@media (min-width: 992px) {
  .categorie .col-cat {
    width: calc(20% - 4px);
    margin: 2px;
    font-size: 10px;
  }
}
@media (min-width: 1200px) {
  main #scelta .attivita {
    height: 50vh;
  }
}
