body {
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
}

.my-btn {
  color: inherit;
  transition: all 0.1s linear;
  padding: 10px;
  border-radius: 10px;
}
.my-btn:hover {
  color: inherit;
  text-decoration: none;
}
.my-btn:hover i {
  transform: scale(1.1);
}
.my-btn.red {
  background-color: #ce1717;
  color: #fff;
}
.my-btn.red:hover {
  border: 2px solid #ce1717;
  background-color: #fff;
  color: #ce1717;
}

i {
  transition: all 0.1s linear;
}
i:hover {
  transform: scale(1.5);
}

header {
  font-weight: 700;
  height: 108px;
}
header .up {
  border-bottom: 5px solid #ce1717;
  background-color: #fff;
  padding: 20px 0;
}
header .up img {
  width: 70%;
}

main #scelta {
  width: 100vw;
  height: calc(100vh - 108px);
}
main #scelta .attivita {
  height: 50vh;
  border: 5px solid #ce1717;
  border-radius: 10px;
  cursor: pointer;
  background-size: 160%;
  background-repeat: no-repeat;
  background-position: center;
  transition: all 2s linear;
}
main #scelta .attivita:hover {
  background-size: 200%;
}
main #scelta .attivita h1 {
  color: #ce1717;
}
main .blur {
  position: fixed;
  bottom: 0;
  width: 100vw;
  height: calc(100vh - 108px);
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
main .blur #calcolo form {
  background-color: #fff;
}
